<%- include layouts/header%>
        
        <!-- Search bar -->
        <div class="search-wrapper">
            <div class="container container--add">
                <form id='search-form' method='get' class="search">
                    <input type="text" class="search__field" placeholder="Search">
                    <select name="sorting_item" id="search-sort" class="search__sort" tabindex="0">
                        <option value="1" selected='selected'>By title</option>
                        <option value="2">By year</option>
                        <option value="3">By producer</option>
                        <option value="4">By title</option>
                        <option value="5">By year</option>
                    </select>
                    <button type='submit' class="btn btn-md btn--danger search__button">search a movie</button>
                </form>
            </div>
        </div>
        
        <!-- Main content -->
        <section class="container">
            <div class="col-sm-12">
                    <% if(data && data.error){%>
                        <h2 class="page-heading">Không có sách này!</h2>
                    <%}else if(data && data.assessment){%>
                <h2 class="page-heading"><%=data.assessment.name_book%></h2>

                <div class="post">
                    <div class="post__preview">
                        <div class="swiper-container">
                          <div class="swiper-wrapper">
                              <!--First Slide-->
                              <div class="swiper-slide" data-text='Mauris gravida ipsum vitae libero eget dignissim ipsum egestas.'> 
                                 <img alt='' src="<%=data.assessment.picture%>">
                              </div>
                          </div><!-- end swiper wrapper-->
                        </div><!-- end swiper container -->

                        <a class="arrow-left no-hover" href="#"><span class="slider__info"></span></a> 
                        <a class="arrow-right" href="#"><span class="slider__info"></span></a>
                    
                    </div>

                    <h1><%=data.assessment.title%></h1>
                    <p class="post__date">29 October 2013 </p>
                    <p>Người viết <strong><%=data.assessment.name%></strong></p>
                    <div class="wave-devider"></div>

                    <div class="col-sm-12 col-md-6">
                        <blockquote class="quote quote--intext">
                            <%=data.assessment.quote%>
                            <small class="quote__author"><span class="quote__author-name">RJ Palacio</span></small>
                        </blockquote>
                    </div>

                    <%-data.assessment.content%>

            

                    <div class="post__images post__images--right col-sm-6 pull-right">
                        <img alt=''  class="img-responsive" src="../uploads/<%=data.assessment.picture%>">
                    </div>




                    <div class="info-wrapper">
                        <div class="tags">
                            <ul>
                                <li class="item-wrap"><a href="#" class="tags__item">news</a></li>
                                <li class="item-wrap"><a href="#" class="tags__item">movie</a></li>
                                <li class="item-wrap"><a href="#" class="tags__item">ceremony</a></li>
                                <li class="item-wrap"><a href="#" class="tags__item">award</a></li>
                            </ul>
                        </div>
                        <div class="share">
                            <div class="addthis_toolbox addthis_default_style ">
                                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                                <a class="addthis_button_tweet"></a>
                                <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>
                <h2 class="page-heading">Similar posts</h2>

                <div class="col-sm-4 col--remove">
                    <div class="post post--preview post--preview--full">
                        <div class="post__image">
                            <img alt='' src="http://placehold.it/270x330">
                            <div class="social social--position social--hide">
                                <span class="social__name">Share:</span>
                                <a href='#' class="social__variant social--first fa fa-facebook"></a>
                                <a href='#' class="social__variant social--second fa fa-twitter"></a>
                                <a href='#' class="social__variant social--third fa fa-vk"></a>
                            </div>
                        </div>
                        <p class="post__date">22 October 2013 </p>
                        <a href="#" class="post__title">"Thor: The Dark World" - World Premiere</a>
                        <a href="#" class="btn read-more post--btn">read more</a>
                    </div>
                </div>
                <div class="col-sm-4 col--remove">
                    <div class="post--preview post--preview--full">
                        <div class="post__image">
                            <img alt='' src="http://placehold.it/270x330">
                            <div class="social social--position social--hide">
                                <span class="social__name">Share:</span>
                                <a href='#' class="social__variant social--first fa fa-facebook"></a>
                                <a href='#' class="social__variant social--second fa fa-twitter"></a>
                                <a href='#' class="social__variant social--third fa fa-vk"></a>
                            </div>
                        </div>
                        <p class="post__date">22 October 2013 </p>
                        <a href="#" class="post__title">30th Annual Night Of Stars Presented By The Fashion ...</a>
                        <a href="#" class="btn read-more post--btn">read more</a>
                    </div>
                </div>
                <div class="col-sm-4 col--remove">
                    <div class="post--preview post--preview--full">
                        <div class="post__image">
                            <img alt='' src="http://placehold.it/270x330">
                            <div class="social social--position social--hide">
                                <span class="social__name">Share:</span>
                                <a href='#' class="social__variant social--first fa fa-facebook"></a>
                                <a href='#' class="social__variant social--second fa fa-twitter"></a>
                                <a href='#' class="social__variant social--third fa fa-vk"></a>
                            </div>
                        </div>
                        <p class="post__date">22 October 2013 </p>
                        <a href="#" class="post__title">Hollywood Film Awards 2013</a>
                        <a href="#" class="btn read-more post--btn">read more</a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <h2 class="page-heading">comments (15)</h2>

                <div class="comment-wrapper">
                    <%
                    if(user_public==null){
                    %>
                    <a href="#" class="btn btn-md btn--warning btn--book btn-control--home login-window">Đăng nhập để bình luận</a>
                    <%
                    }else{
                    %>
                    <input id="user_id" type="hidden" value="<%=user_public.user_id%>" >
                    <%if(data && data.assessment){%>
                    <input id="book_review_id" type="hidden" value="<%=data.assessment.book_review_id%>" >
                    <%}%>
                    <form id="comment-form" class="comment-form" >
                        <input type="text" class="comment-form__text comment-content"  placeholder='Add you comment here'>
                        <label class="comment-form__info">250 characters left</label>
                        <button type='button' parent_id="0" class="btn btn-md btn--danger comment-form__btn btn-comment" >add comment</button>
                    </form>
                    <%}%>

                    
                    <div class="comment-sets">
                            <% if(data && data.comments){ var i =0;%>
                                <%data.comments.forEach(function(item){  %>
                                    <% if(item.parent_id!=0){%>
                                        <%return;%>
                                        <%}%>
                        <div class="comment">
                            <div class="comment__images">
                                <img alt='' src="http://placehold.it/50x50">
                            </div>

                            <a href='#' class="comment__author"><span class="social-used fa fa-vk"></span><%=item.name%></a>
                            <p class="comment__date"><%=item.date%></p>
                            <p class="comment__message"><%=item.content_comment%></p>
                            <a href='#' class="comment__reply" parent_id="<%=item.comment_id%>">Reply</a>
                        </div>
                            <%data.comments.forEach(function(item2){  %>
                                <%if(item2.parent_id==item.comment_id){%>
                                    <div class="comment comment--answer">
                                        <div class="comment__images">
                                            <img alt='' src="http://placehold.it/50x50">
                                        </div>
            
                                        <a href='#' class="comment__author"><span class="social-used fa fa-vk"></span><%=item2.name%></a>
                                        <p class="comment__date"><%=item2.date%></p>
                                        <p class="comment__message"><%=item2.content_comment%></p>
                                        <a href='#' class="comment__reply" parent_id="<%=item.comment_id%>">Reply</a>
                                    </div>
                                <%}%>
                            <%})%>
                        <%})%>
                        <%}%>
                        <div class="comment-more">
                            <a href="#" class="watchlist">Show more comments</a>
                        </div>
                        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
                        <script type="text/javascript">
                            $(document).ready(function() {
                                $('.btn-comment').on('click', commentFunction);
                                        
                                $('.comment').on('click', '.btn-reply', commentFunction);
                                        
                                function commentFunction(){
                                                        alert("1");
                                                        var content = $(this).parent().find(".comment-content").val().trim();
                                                        // var content = tinymce.get("comment-content").getContent();
                                                        alert(content);
                                                        if(content==""){
                                                            return;
                                                        }
                                                        var user_id = $("#user_id").val();
                                                        var book_review_id = $("#book_review_id").val();
                                                        var parent_id = $(this).attr("parent_id");  
                                                        var base_url = location.protocol+"//"+ document.domain +":"+location.port;
                                                        $.ajax({
                                                            url: base_url+ "/comment",
                                                            type: "PUT",
                                                            data: {content:content,user_id: user_id, parent_id:parent_id,book_review_id: book_review_id },
                                                            success: function(response){
                                                                $(".comment-content").val("");
                                                                $(".comment-sets").replaceWith(response);
                                                            }
                                                        })
                                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
        </section>
        
        <div class="clearfix"></div>
        

        <%- include layouts/footer%>