<%- include layouts/header%>
        
        <!-- Search bar -->
        <div class="search-wrapper">
            <div class="container container--add">
                <form id='search-form' method='get' class="search">
                    <input type="text" class="search__field" placeholder="Search">
                    <select name="sorting_item" id="search-sort" class="search__sort" tabindex="0">
                        <option value="1" selected='selected'>By title</option>
                        <option value="2">By year</option>
                        <option value="3">By producer</option>
                        <option value="4">By title</option>
                        <option value="5">By year</option>
                    </select>
                    <button type='submit' class="btn btn-md btn--danger search__button">search a movie</button>
                </form>
            </div>
        </div>
        
        <!-- Main content -->
        <section class="container">
            <div class="col-sm-8 col-md-9">
                <h2 class="page-heading">Movies</h2>
                
                <div class="tags-area">
                    <div class="tags tags--unmarked">
                        <span class="tags__label">Sorted by:</span>
                            <ul>
                                <li class="item-wrap"><a href="#" class="tags__item item-active" data-filter='all'>all</a></li>
                                <li class="item-wrap"><a href="#" class="tags__item" data-filter='release'>release date</a></li>
                                <li class="item-wrap"><a href="#" class="tags__item" data-filter='popularity'>popularity</a></li>
                                <li class="item-wrap"><a href="#" class="tags__item" data-filter='comments'>comments</a></li>
                                <li class="item-wrap"><a href="#" class="tags__item" data-filter='ending'>ending soon</a></li>
                            </ul>
                    </div>
                </div>
                
                <!-- Movie preview item -->
                <% if(data && data.books){%>
                    <%for(var i=0; i<data.books.length; i++){
                    if(i!=0 && data.books[i].book_id==data.books[i-1].book_id)continue;    
                    %>
                <div class="movie movie--preview release">
                     <div class="col-sm-5 col-md-3">
                            <div class="movie__images">
                                <img height="290px" alt='' src="../uploads/<%=data.books[i].image%>">
                            </div>
                            <div class="movie__feature">
                                <a href="#" class="movie__feature-item movie__feature--comment">123</a>
                                <a href="#" class="movie__feature-item movie__feature--video">7</a>
                                <a href="#" class="movie__feature-item movie__feature--photo">352</a>
                            </div>
                    </div>

                    <div class="col-sm-7 col-md-9">
                            <a href='/detail_book/<%=data.books[i].book_id%>' class="movie__title link--huge"><%=data.books[i].name_book%></a>

                            <p class="movie__time"><%=data.books[i].pages%> pages</p>

                            <p class="movie__option"><strong>Author: </strong><a href="#"><%=data.books[i].author%></a></p>
                            <p class="movie__option"><strong>Category: </strong>

                                <a href="#"><%=data.books[i].name%></a>
                                <%for(var j=i+1;j<data.books.length;j++){
                                    if(data.books[i].book_id== data.books[j].book_id){
                                        %>
                                        <a href="#">|<%=data.books[j].name%></a>
                                        <%
                                    }
                                } 
                                %>
                                    
                                
                            
                            </p>
                            <p class="movie__option"><strong>Age restriction: </strong><a href="#">13</a></p>

                            <div class="movie__btns">
                                <a href="/post_assessment/<%=data.books[i].book_id%>" class="watchlist">Viết bài đánh giá</a>
                            </div>

                            <div class="preview-footer">
                                
                                <div class="movie__rate"><% if(user_public!=null){%><div class="score_index" id="<%=data.books[i].book_id%>" ></div> <%}%><span  id="number_rate<%=data.books[i].book_id%>"  class="movie__rate-number"><%=data.books[i].number_rate%> votes</span> <span id="rate<%=data.books[i].book_id%>" class="movie__rating"><%=data.books[i].rate%></span></div>
                               
                            </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <%}%>
                <%}%>
                <!-- end movie preview item -->

                <div class="coloum-wrapper">
                    <div class="pagination paginatioon--full">
                            <a href='#' class="pagination__prev">prev</a>
                            <a href='#' class="pagination__next">next</a>
                    </div>
                </div>

            </div>
                    
            <%- include layouts/right-bar%>

        </section>
        
        <div class="clearfix"></div>

        <%- include layouts/footer%>