<%- include layouts/header%>
        
        <!-- Search bar -->
        <div class="search-wrapper">
            <div class="container container--add">
                <form id='search-form' method='get' class="search">
                    <input type="text" class="search__field" placeholder="Search">
                    <select name="sorting_item" id="search-sort" class="search__sort" tabindex="0">
                        <option value="1" selected='selected'>By title</option>
                        <option value="2">By year</option>
                        <option value="3">By producer</option>
                        <option value="4">By title</option>
                        <option value="5">By year</option>
                    </select>
                    <button type='submit' class="btn btn-md btn--danger search__button">search a movie</button>
                </form>
            </div>
        </div>
        
        <!-- Main content -->
        <section class="container">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="page-heading">Xếp hạng</h2>

                        <div class="rates-wrapper rates--full">
                            
                            <table>
                                <colgroup class="col-width-lg">
                                <colgroup class="col-width">
                                <colgroup class="col-width-sm">
                                <colgroup class="col-width">
                                    <% if(data && data.books_best){ var i =0;%>
                                        <%data.books_best.forEach(function(item){ i++;%>
                                <tr class="rates rates--top">
                                    <td class="rates__obj"><a href="/detail_book/<%=item.book_id%>" class="rates__obj-name"><%=i%>. <%= item.name_book%></a></td>
                                    <td id="number_rate<%=item.book_id%>" class="rates__vote"><%= item.number_rate%> votes</td>
                                    <td id="rate<%=item.book_id%>" class="rates__result"><%= item.rate%></td>
                                    <td class="rates__stars">
                                            <% if(user_public!=null){%>
                                                <div class="score" id="<%=item.book_id%>"></div>
                                                <%}%>
                                    </td>
                                </tr>
                                <%})%>
                                <%}%>
                                

                            </table>
                        </div>

                        <div class="pagination paginatioon--full coloum-wrapper">
                            <a href='#' class="pagination__prev">prev</a>
                            <a href='#' class="pagination__next">next</a>
                        </div>    
                    </div>

                </div>
            </div>
        </section>
        
        <div class="clearfix"></div>

        <%- include layouts/footer%>