<%- include layouts/header%>
        
        <!-- Search bar -->
        <div class="search-wrapper">
            <div class="container container--add">
                <form id='search-form' method='get' class="search">
                    <input type="text" class="search__field" placeholder="Search">
                    <select name="sorting_item" id="search-sort" class="search__sort" tabindex="0">
                        <option value="1" selected='selected'>By title</option>
                        <option value="2">By year</option>
                        <option value="3">By producer</option>
                        <option value="4">By title</option>
                        <option value="5">By year</option>
                    </select>
                    <button type='submit' class="btn btn-md btn--danger search__button">search a movie</button>
                </form>
            </div>
        </div>
        
        <!-- Main content -->
        <section class="container">
            <div class="overflow-wrapper">
                <div class="col-sm-8 col-md-9">
                
                    <h2 class="page-heading">Bài viết</h2>
                    <% if(data && data.assessments){ var i =0;%>
                        <%data.assessments.forEach(function(item){ %>
                    <!-- News post article-->
                    <article class="post post--news">
                        <a href='/detail_assessment/<%=item.book_review_id%>' class="post__image-link">
                            <img style="object-fit:contain;" width="816px" height="306px" alt='' src="../uploads/<%=item.picture%>">
                        </a>

                        <h1><a href="/detail_assessment/<%=item.book_review_id%>" class="post__title-link"><%=item.name_book%> | <%=item.title%></a></h1>
                        <p class="post__date"><%=item.date_post%> </p>
                        <div class="tags">
                                <ul class="list line--marker">
                                    <li class="item-wrap"><a href="#" class="tags__item"><%=item.name%></a></li>
                                </ul>
                        </div>
                        <div class="wave-devider"></div>
                        
                        <div class="devider-huge"></div>
                    </article> 
                    <!-- end news post article-->

                    <%})%>
                    <%}%>

                    

                    <div class="coloum-wrapper">
                            <div class="pagination paginatioon--full">
                                    <%
                                        if(data.page!=1){
                                            %>
                                            <a href='/list_assessment/<%=data.id%>&<%=data.page -1%>' class="pagination__prev">prev</a>
                                            <%
                                        }
                                    %>
                                    <%
                                        if(data.page!=data.length_page && data.assessments.length!=0 && data.length_page!=0){
                                            %>
                                            <a href='/list_assessment/<%=data.id%>&<%=data.page -(-1)%>' class="pagination__next">next</a>
                                            <%
                                        }
                                    %>
                                    
                                    
                            </div>
                        </div>
                </div>
        
                <%- include layouts/right-bar%>
            </div>
        </section>
        
        <div class="clearfix"></div>

        <%- include layouts/footer%>