<%- include layouts/top-left%>
<!--end top-left--> 

<div class="main-panel">

<!--nav bar-->
<%- include layouts/nav-bar%>
<!--nav bar-->


<div class="content">
        <div class="container-fluid">
            <div class="row">
                    <div class="col-md-12">
                            <div class="col-md-9" align="left">
                                    <a class="btn icon-btn btn-success" href="/admin/categories/add"><span class="glyphicon btn-glyphicon ti-plus img-circle text-success"></span>Add</a>
                            </div>
                            <div class="input-group col-md-3" align="right">
                                    <input type="text" class="form-control" name="x" placeholder="Search term...">
                                    <!-- <input type="text" class="form-control input-lg" placeholder="Văn" /> -->
                                    <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><span class="ti-search"></span></button>
                                    </span>
                            </div>
                    </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Roles Table</h4>
                            
                        </div>
                        <% if(success_msg.length > 0){%>
                            <div class="alert alert-success alert-dismissible show" role="alert">
                                    <strong><%=success_msg%></strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div> 
                        <%}%>
                        <% if(error_msg.length > 0){%>
                            <div class="alert alert-danger alert-dismissible show" role="alert">
                                    <strong><%=error_msg%></strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div> 
                        <%}%>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-striped">
                                <thead>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Discription</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                        <% if(data && data.categories){%>
                                            <%data.categories.forEach(function(item){%>
                                    <tr>
                                        <td><img src="../uploads/<%=item.category_image%>" class="image_admin" /></td>
                                        <td><%= item.name%></td>
                                        <td><%- item.discription%></td>
                                        <td>
                                            <a href="/admin/categories/edit/<%= item.category_id%>" class="btn btn-primary btn-xs" ><span class="ti-pencil"></span></a>
                                            <a href="#" class="btn btn-danger btn-xs category_delete" category_id="<%= item.category_id%>" ><span class="ti-trash"></span></a>
                                        </td>  
                                    </tr>
                                            <%})%>
                                    <%}%>
                                </tbody>
                            </table>

                        </div>
                        <ul class="pagination" >
                            <li class="disabled"><a href="#">«</a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">»</a></li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript" src="/static_admin/assets/js/category.js"></script>
		<!--footer-->
        <%- include layouts/footer%>