<%- include layouts/top-left%>
<!--end top-left--> 

<div class="main-panel">

<!--nav bar-->
<%- include layouts/nav-bar%>
<!--nav bar-->


<div class="content">
        <div class="container-fluid">
            <div class="row">
                    
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Roles Table</h4>
                            
                        </div>
                        <% if(data && data.errors){%>
                            <%data.errors.forEach(function(item){%>
                                <div class="alert alert-warning alert-dismissible show" role="alert">
                                        <strong><%= item.msg%></strong>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div> 
                            <%})%>
                            <%}%>
                            <% if(data && data.error){%>
                                <div class="alert alert-warning alert-dismissible show" role="alert">
                                        <strong><%= data.error%></strong>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div> 
                            <%}%>
                        <form class="form-horizontal" enctype="multipart/form-data" method="" action="">
                            <fieldset>
                            <% if(data && data.category){%>
                            <input type="hidden" id="category_id" value="<%=data.category.category_id%>">    
                            <!-- Text input-->
                            <div class="form-group">
                              <label class="col-md-4 control-label" for="textinput">Name</label>  
                              <div class="col-md-4">
                              <input id="name" name="name" type="text" placeholder="Name of category" class="form-control input-md" value="<%=data.category.name%>">
                                
                              </div>
                            </div>
                            
                            <!-- Textarea -->
                            <div class="form-group">
                              <label class="col-md-4 control-label" for="textarea">Discription</label>
                              <div class="col-md-4">                     
                                <textarea class="form-control" id="discription" name="discription" placeholder="Discription of category"><%=data.category.discription%></textarea>
                              </div>
                            </div>
                            
                            <input type="hidden" id="category_image_tmp" value="<%=data.category.category_image%>" >
                            <!-- File Button --> 
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="filebutton">Image</label>
                                <div class="col-md-4">
                                <input id="category_image" name="category_image" class="input-file" type="file">
                                </div>
                            </div>
                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for=""></label>
                                <div class="col-md-4">
                                <button type="button" id="edit-btn" name="" class="btn btn-primary ">Save</button>
                                </div>
                                
                            </div>
                            <%}%>
                            </fieldset>
                            </form>


                    </div>
                </div>

            </div>
        </div>
    </div>

        <script type="text/javascript" src="/static_admin/assets/js/category.js"></script>
		<!--footer-->
        <%- include layouts/footer%>