
<!doctype html>
<html>
<head>
	<!-- Basic Page Needs -->
        <meta charset="utf-8">
        <title>AMovie</title>
        <meta name="description" content="A Template by Gozha.net">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="author" content="Gozha.net">
    
    <!-- Mobile Specific Metas-->
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="telephone=no" name="format-detection">
    
    <!-- Fonts -->
        <!-- Font awesome - icon font -->
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <!-- Roboto -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,700' rel='stylesheet' type='text/css'>
        <!-- Open Sans -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:800italic' rel='stylesheet' type='text/css'>
    
    <!-- Stylesheets -->

        <!-- Mobile menu -->
        <link href="/static_public/assets/css/gozha-nav.css" rel="stylesheet" />
        <!-- Select -->
        <link href="/static_public/assets/css/external/jquery.selectbox.css" rel="stylesheet" />

        <!-- REVOLUTION BANNER CSS SETTINGS -->
        <link rel="stylesheet" type="text/css" href="/static_public/assets/rs-plugin/css/settings.css" media="screen" />
    
        <!-- Custom -->
        <link href="/static_public/assets/css/style.css?v=1" rel="stylesheet" />


        <!-- Modernizr --> 
        <script src="/static_public/assets/js/external/modernizr.custom.js"></script>
    
       <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
        <script>tinymce.init({ selector:'textarea' });</script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries --> 
    <!--[if lt IE 9]> 
    	<script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script> 
		<script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>		
    <![endif]-->
</head>

<body>
    <div class="wrapper">
        <!-- Banner -->
        <div class="banner-top">
            <img width="1500px" height="90px" alt='top banner' src="../uploads/banner1600902.jpg">
        </div>

        <!-- Header section -->
        <header class="header-wrapper <% if(active && active=="home"){%>header-wrapper--home<%}%>">
            <div class="container">
                <!-- Logo link-->
                <a href='/' class="logo">
                    <img width="100px" height="50px" alt='logo' src="../uploads/logo2.png">
                </a>
                
                <!-- Main website navigation-->
                <nav id="navigation-box">
                    <!-- Toggle for mobile menu mode -->
                    <a href="#" id="navigation-toggle">
                        <span class="menu-icon">
                            <span class="icon-toggle" role="button" aria-label="Toggle Navigation">
                              <span class="lines"></span>
                            </span>
                        </span>
                    </a>
                    <% 
                var trangchu ="";
                var listsach ="";
                var listassess ="";
                var postassess ="";
                var rank ="";
                if(active){
                    switch(active){
                        case "home":{
                            trangchu="main-active";
                            break;
                        }
                        case "list_book":{
                            listsach="main-active";
                            break;
                        }
                        case "list_assessment":{
                            listassess="main-active";
                            break;
                        }
                        case "post_assessment":{
                            postassess="main-active";
                            break;
                        }
                        case "list_rate":{
                            rank="main-active";
                            break;
                        }
                        default:
                        {
                            trangchu="main-active";
                        }
                    }
                }
            %>
                    <!-- Link navigation -->
                    <ul id="navigation">
                        <li class="<%=trangchu%>">
                            <span class="sub-nav-toggle plus"></span>
                            <a  href="/">Trang chủ</a>
                        </li>
                        <li class="<%=listsach%>">
                            <span class="sub-nav-toggle plus"></span>
                            <a href="/list_book">Sách</a>
                        </li>
                        <li class="<%=listassess%>">
                            <span class="sub-nav-toggle plus"></span>
                            <a href="/list_assessment">Đánh giá</a>
                        </li>
                        <li class="<%=postassess%>">
                            <span class="sub-nav-toggle plus"></span>
                            <a href="/post_assessment">Viết bài</a>
                        </li>
                        <li class="<%=rank%>">
                            <span class="sub-nav-toggle plus"></span>
                            <a href="/list_rate">Xếp hạng</a>
                        </li>
                    </ul>
                </nav>
                
                <!-- Additional header buttons / Auth and direct link to booking-->
                <div class="control-panel">
                        <%if(user_public!=null){%>
                    <div class="auth auth--home">
                      <div class="auth__show">
                        <span class="auth__image">
                          <img alt="" src="../uploads/<%=user_public.avatar%>">
                        </span>
                      </div>
                      <a href="#" class="btn btn--sign btn--singin">
                         
                                <%=user_public.name%>
                           
                      </a>

                    </div>
                    <%}%>
                    <% if(user_public==null){%>
                        <a href="#" class="btn btn-md btn--warning btn--book btn-control--home login-window">Sign In</a>
                    <%}else{%> <a href="/logout" class="btn btn-md btn--warning btn--book btn-control--home">Log out</a>
                    <%}%>    
                    
                </div>

            </div>
        </header>